.container {
    height: 100vh;

    /* We need some kind of wrap */
    flex-wrap: wrap;

    /* CROSS AXIS */
    /* default value */
    /* align-content: stretch; */

    /* align-content: flex-start; */
   
    /* align-content: flex-end; */

    /* align-content: center; */
    
    /* align-content: space-between; */

    align-content: space-around;
}

.box {
    width: 33.33%;
}